<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./jquery.flot.js"></script>
    <script src="./jquery.flot.pie.js"></script>
    <script src="./bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">programming.fyi</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://github.com/2PacIsAlive/programming.fyi">clone</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>welcome</h1>
          </div>
        </div>
      </div>
      <div class="bs-docs-section">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#projects" data-toggle="tab" aria-expanded="true">projects</a></li>
          <li class=""><a href="#languages" data-toggle="tab" aria-expanded="false">languages</a></li>
        </ul>
        <div id="tabContent" class="tab-content">
          <div class="tab-pane fade active in" id="projects">
            <div class="list-group">
              {% for project in projects %}
                <a href="/projects/{{project["name"]}}" class="list-group-item">
                  <h4 class="list-group-item-heading">{{project["name"]}}</h4>
                  <p class="list-group-item-text">FYI: {{project["description"]}}</p>
                </a>
	            {% endfor %}
            </div>
	        </div>
          <div class="tab-pane fade" id="languages">
            <div class="bs-component">
              <ul class="pagination pagination-lg">
                {% for language in languages %}
                  <li><a href="/languages/{{language}}">{{language}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div id="placeholder" style="width:100%;height:300px"></div>
          <script>
          $(function() {
          		var placeholder = $("#placeholder");
              $.plot(placeholder, {{data|tojson}}, {
                series: {
                  pie: {
                    show: true,
                    fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.1}] },
                    radius: 1000,
                    label: {
                      show: true,
                      formatter: labelFormatter,
                      threshold: 0.1
                    }
                  }
                },
                grid: {
                  hoverable: true,
                  clickable: true
                },
                legend: {
                  show: false
                }
              });
        		  placeholder.bind("plothover", function(event, pos, obj) {
        				if (!obj) {
        					return;
        				}
        			});
              placeholder.bind("plotclick", function(event, pos, obj) {
        				if (!obj) {
        					return;
        				}
                $(location).attr('href', '{{host}}/languages/' + obj.series.label);
        			});
            });
            function labelFormatter(label, series) {
              return "<div style='font-size:10pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
	          }
          </script>
        </div>
      </div>
    </div>
    <br>
  </body>
</html>
